paper-toast {
  background-color: #131d42 !important;
}

a.post-link {
  transition: 100ms box-shadow, 100ms transform;
  box-shadow: 0 1px 5px rgba(0,0,0,0.8);
  -webkit-touch-callout: none;
}

a.post-link:hover {
  transform: scale(1.1) translate(-1px, -1px) rotate(5deg);
  box-shadow: 3px 4px 10px rgba(0,0,0,0.8);
}

div.highlighter-rouge,
code.highlighter-rouge {
  border: 1px solid rgba(0,0,0,0.3);
  padding: 1px;
  border-radius: 2px;
  background-color: rgba(0,0,0, 0.2);
}

div.highlighter-rouge > pre.highlight {
  overflow-x: auto;
  padding: 10px;
  margin: 0;
  box-shadow: inset 1px 2px 5px rgba(0,0,0,0.4);
}

.aside {
  border-radius: 6px;
  padding: 10px;
  /*margin-right: 20px;*/
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.3));
  box-shadow:
    0 5px 15px rgba(0,0,0,0.6),
    inset 0 1px 1px 0px rgba(255,255,255,0.2),
    inset -0.5px -1px 1px 0px rgba(0,0,0,0.3)
    ;
}

.aside.note {
  background-color: rgb(50, 50, 200);
}

.aside.warning {
  background-color: darkred;
}