<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta name="theme-color" content="#777777">
  <title>{% if page.title %}{{page.title|escape}}{% else %}{{site.title|escape}}{% endif %}</title>
  <meta name="description" content="{{page.excerpt | default: site.description | normalize_whitespace | escape}}">
  <link rel="icon" href="favicon.png" type="image/png">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepand: site.url }}">
  <link rel="alternate" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" type="application/rss+xml" title="{{site.title|escape}}">

  <base href="{{site.baseurl | prepend: site.url}}/">

  <style>
    {% include inline-styles.css %}
  </style>
  <!-- This stylesheet will apply when JS is enabeld -->
  <style id=JSEnabledStyles media="not all">
    :root {
      --js-none: none;
    }
  </style>
  <!-- This sheet will apply when JS is disabled -->
  <style id=noJSSafetyStyles>
    :root {
      --no-js-none: none;
    }
  </style>
  <script>
    document.getElementById('noJSSafetyStyles').remove();
    document.getElementById('JSEnabledStyles').removeAttribute('media');
  </script>
  <script src="js/main.js" type="module" defer></script>
  <link rel="preload" href="/">
</head>