
html {
  overflow-y: scroll;
}
body {
  background-color: #333;
  color: #eee;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);
  margin: 0;
  /*max-width: 1500px;*/
  /*margin: 30px auto;*/
  /*margin-top: 30px;*/
  transition: 300ms margin linear;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex {
  flex: 1;
}

:link {
  color: coral;
}

:visited {
  color: chocolate;
}

header.banner {
  background-color: #444;
  background-image: linear-gradient(to bottom,#555,#333);
  z-index: 10;
  box-shadow:
    0px 1px 3px rgba(0,0,0,0.5),
    0px 1px 15px rgba(0,0,0,0.3),
    inset 0.50px 1px #777,
    inset -0.5px -1px #111;
  transition: 300ms padding, 300ms border-radius;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  clip-path: content-box;
}

header.banner > div.title {
  transition: 300ms padding;
  padding: 30px;
}

div.pages {
  display: flex;
  flex-direction: row;
  box-shadow: 0 -1px rgba(0,0,0,0.2);
  background-color: #777;
}

.pages .page-link {
  text-decoration: none;
  color: #eee;
  font-size: 14pt;
  flex: 1;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border: 1px solid #333;
  border-width: 1px 1px 1px 0px;
  transition: 60ms box-shadow, 300ms font-size;
  box-shadow:
    inset 0.5px 1px 0 rgba(255,255,255,0.4),
    inset -0.5px -1px rgba(0,0,0,0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.2));
}

.pages .page-link:first-child {
  border-left: none;
}

.pages .page-link:hover {
  background-image: linear-gradient(to bottom, #888, #7a7a7a);
}

.pages .page-link:active {
  box-shadow:
    inset -0.5px -1px rgba(0,0,0,0.3),
    inset 0.5px 1px 3px rgba(0,0,0,0.4);
}

header.banner h1>a {
  color: #eee;
  text-decoration: none;
}

header .subtitle {
  font-style: italic;
  color: #ccc;
}

.nomargin {
  margin: 0;
}

vb-content {
  min-width: 900px;
  max-width: 900px;
  margin: 0 auto;
  transition: 300ms all;

  display: block;

  position: relative;
}

vb-content [clipper] {
  overflow: hidden;
  position: relative;
}

.post .post-header {
  background-color: #{{ site.digits | sample: 6 }};
  background-image: linear-gradient(to bottom, rgba(0, 0,0,0.0), rgba(0,0,0,0.3));
}

.post .post-content {
  padding: 30px;
}

.post p,
.post li {
  line-height: 1.5em;
}

.post-content > *:first-child,
div.aside > *:first-child {
  margin-top: 0;
}

.post .post-header {
  padding: 20px;
  border-bottom: 1px solid #333;
  box-shadow:
    0 0 15px rgba(0,0,0,0.7),
    inset 1px 1px 0 rgba(120, 120, 120, 0.3),
    inset -1px -1px 0 rgba(0,0,0,0.5);
}

.post .post-header h1 {
  border: none;
  margin-top: 0;
}

.container-rect,
vb-project {
  background-color: #444;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.8);
  box-sizing: border-box;
}

vb-project {
  margin: 10px;
}

vb-project .header {
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid #222;
  background-color: #333;
  box-sizing: border-box;
}

vb-project .body {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  display: -mx-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  text-align: justify;
}

vb-project .body .icon-container {
  float: left;
  width: 128px;
  flex-shrink: 0;
}

vb-content > [backdrop] {
  z-index: -10;
  position: absolute;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.column {
  display: -mx-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  text-align: justify;
}

vb-content [content] {
  z-index: -1;
  display: -mx-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  text-align: justify;
}

vb-content h1:not(.post-title),
vb-content h2,
vb-content h3,
vb-content h4,
vb-content h5,
vb-content h6 {
  text-align: initial;
  margin-left: 15px;
}

vb-content h1 {
  font-size: 35px;
}

vb-content div[content]:not(.override-img-styles) img {
  width: 100% !important;
  height: auto !important;
}

ol > :not(:first-child),
ul > :not(:first-child) {
  margin-top: 10px;
}

vb-footer {
  position: relative;
  margin-top: 30px;
  min-height: 150px;
  padding: 0 20px;
  background-color: #555;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.6);
  overflow: hidden;
  transition: 300ms margin;
  display: flex;
  align-items: center;
}

vb-footer > :not(:first-child) {
  margin-left: 20px;
  max-width: 200px;
}

vb-footer > div {
  border-left: 1px solid white;
  padding-left: 20px;
  height: 100px;
}

vb-footer img.me {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  border: 10px solid #333;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
}

vb-footer .who {
  max-width: 200px;
}

vb-footer h2,
vb-footer p {
  margin: 0;
}

vb-footer::before {
  content: '';
  position: absolute;
  left: -10px;
  right: -10px;
  top: -15px;
  height: 15px;
  box-shadow:
    0 2px 3px rgba(0,0,0,0.4),
    0 2px 8px rgba(0,0,0,0.3);
}

.page-heading {
  margin: 0;
}

.post-list {
  display: -mx-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

a.post-link {
  width: 160px;
  height: 160px;
  padding: 5px;
  margin: 10px;
  display: inline-flex;
  flex-direction: column;
  background-color: #555;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 5000px;
  word-wrap: break-word;
  white-space: normal;
  border: 15px solid #bbb;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-clip: border;
  border-color: rgba(255, 255, 255, 0.4);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.post-list {
  margin-top: 15px;
}

.post-link__title {
  font-size: 18pt;
  color: #eee;
  font-weight: bold;
}

.post-link__date {
  color: #ddd;
  font-size: 12pt;
  white-space: nowrap;
}

div.page-container {
  display: flex;
  flex-direction: column;
}

div.page-container h1,
div.page-container h2,
div.page-container h3 {
  color: #fcfcfc;
  margin-bottom: 15px;
}


div.page-container h2:not(:first-child),
div.page-container h3:not(:first-child) {
  margin-top: 40px;
}

div.page-container p {
  margin-top: 24px;
}

div.post-content h1 {
  font-style: italic;
  margin-left: 30px;
  margin-top: 45px;
}

.post-meta {
  font-style: italic;
  font-size: 10pt;
  text-shadow: none;
  color: #ccc;
}

div.page-container p:last-child {
  margin-bottom: 0;
}

div.page-container .admonition {
  background-color: orange;
  border: 2px solid orangered;
  padding: 5px;
  border-radius: 3px;
  color: #222;
  text-shadow: none;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.8);
  text-align: justify;
  margin: 15px;
}

div.page-container .admonition h1,
div.page-container .admonition h2,
div.page-container .admonition h3 {
  margin: 0 0 10px 0;
  border-bottom: 1px solid gray;
  color: #222;
}

div.page-container .admonition p:last-child {
  margin-bottom: 0;
}

div.offline-warning {
  box-sizing: border-box;
  overflow: hidden;
  transition: 300ms padding, 300ms border-width, 300ms margin, 300ms max-height;
}

.comments-container {
  max-width: 900px;
  align-self: stretch;
  transition: 300ms margin;
  padding: 10px;
  background-color: #3d3d3d;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid #777;
}

.comments-reveal-button {
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  background-color: #555;
  border: 1px solid #222;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: 50ms background-color, 50ms transform;
}

.comments-reveal-button:active {
  background-color: #444;
  transform: translateY(2px);
}

body.online div.offline-warning {
  max-height: 0;
  padding: 0;
  border-width: 0;
  margin: 0;
}

body:not(.online) div.offline-warning {
  max-height: 100px;
}


a.post-link {
  transition: 100ms box-shadow, 100ms transform;
  box-shadow: 0 1px 5px rgba(0,0,0,0.8);
  -webkit-touch-callout: none;
}

a.post-link:hover {
  transform: scale(1.1) translate(-1px, -1px) rotate(5deg);
  box-shadow: 3px 4px 10px rgba(0,0,0,0.8);
}

/* Code blocks */
div.highlighter-rouge {
  border: 1px solid rgba(0,0,0,0.3);
  padding: 1px;
  border-radius: 2px;
  background-color: rgba(0,0,0, 0.2);
}

/* Inline code */
code.highlighter-rouge {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 0 3px;
  background-color: rgba(0,0,0,0.05);
}

div.highlighter-rouge > pre.highlight {
  overflow-x: auto;
  padding: 10px;
  margin: 0;
  box-shadow: inset 1px 2px 5px rgba(0,0,0,0.4);
}

.aside {
  border-radius: 6px;
  padding: 10px;
  /*margin-right: 20px;*/
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.3));
  box-shadow:
    0 5px 15px rgba(0,0,0,0.6),
    inset 0 1px 1px 0px rgba(255,255,255,0.2),
    inset -0.5px -1px 1px 0px rgba(0,0,0,0.3)
    ;
}

.aside.note {
  background-color: rgb(50, 50, 200);
}

.aside.warning {
  background-color: darkred;
}


@media (max-width: 960px) {
  body {
    max-width: none;
  }

  vb-content {
    margin: 0;
    width: 100%;
    max-width: unset;
    min-width: unset;
  }

  .comments-container {
    margin: 10px;
    margin-bottom: 0;
  }

  vb-content > [backdrop] {
    border-radius: 0;
  }
}

@media (max-width: 750px) {
  header.banner {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  header.banner > div.title {
    padding: 15px;
  }
  header.banner h1 {
    white-space: nowrap;
    font-size: 18pt;
  }
}

@media (max-width: 500px) {
  vb-footer {
    margin-top: 0;
    padding: 20px 0;
    flex-direction: column;
    padding-bottom: 20px;
    text-align: center;
  }

  vb-footer > :not(:first-child) {
    margin-left: 0;
    margin-top: 20px;
  }

  vb-footer > div {
    width: 200px;
    height: unset;
    border-left: none;
    border-top: 1px solid white;
    padding: 0;
    padding-top: 20px;
  }
}

@media (max-width: 385px) {
  header.banner {
    text-align: center;
  }
  .banner .page-link {
    font-size: 10pt;
  }
  header.banner h1 {
    font-size: 12pt;
    margin-bottom: 10px;
  }
}