<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class=online>

  {% include header.html %}

  <div class="page-container">
    <div vb-content id=smart-content-area aria-label="Content">
      <div backdrop class=container-rect></div>
      <div clipper>
        <div holder></div>
        <div content>
          <div class="admonition offline-warning">
            <h3>Note</h3>
            Unable to connect to network. Content may be out of date.
          </div>
          {{content}}
          <noscript class='vb-noscript admonition'>
            <h3>javascript nooooo</h3>
            <p>
              You seem to be browsing with JavaScript disabled. This site contains
              no trackers, beacons, ads, or any other annoying elements unless
              you opt-in.
            </p>
            <p>
              This site uses JavaScript for its true purpose: To enhance the user
              experience. A lot of work was put into making this site as fast and
              reponsive as possible, but these enhancements require JavaScript to
              function. Please consider whitelisting this site.
            </p>
            <p>
              Nevertheless, this site <em>does</em> and <em>always will</em> work
              without scripting enabled. Please enjoy.
            </p>
          </noscript>
          {% if page.comments %}
          <template id=disqus-tmpl>
            <div id="disqus_thread"></div>
            <script>
              var disqus_config = function () {
                  this.page.url = 'https://vector-of-bool.github.io/' + location.pathname;
                  this.page.identifier = '{{ page.title | slugify }}';
              };
              (function() {
                var d = document, s = d.createElement('script');
                s.src = '//vector-of-bool.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
          </template>
          {% endif %}
          {% if page.comments %}
          <div class="comments-container container-rect" id=comments-container>
            <div aria-label="Reveal comments" tabindex="0" class="comments-reveal-button" onclick=revealComments()>Click for Comments</div>
          </div>
          {% endif %}
        </div>
      </div>
    </div vb-content>
  </div>
  <div class="flex"></div>
  <vb-footer>
    <img class=me src="favicon.png">
    <div class="who">
      <h2>Hey there,</h2>
      <p>
        I am a developer living and working in the United States.
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">Subscribe via RSS</a>
      </p>
    </div>
    <div class="stuff">
      <h2>My Stuff</h2>
      <p>
        You can find my creations on <a href="https://github.com/vector-of-bool">GitHub</a>
        and my short-form nonsense on
        <a href="https://twitter.com/vector_of_bool">Twitter</a>.
      </p>
    </div>
    <div class="patreaon">
      <h2>Support Me</h2>
      <p>
        You can support my shenanigans on
        <a href="https://www.patreon.com/vector_of_bool">my Patreon page</a>.
      </p>
    </div>
  </vb-footer>

  <link rel="stylesheet" href="/css/syntax.css">
</body>

</html>